<form>

  <div>
    <label for="name">Nom</label>
    <input id="name" name="name" type="text" placeholder="Ex : Garfield"/>
  </div>

  <div>
    <label for="species">Espèce</label>
    <input id="species" name="species" type="text" placeholder="Ex : chat"/>
  </div>

  <div>
    <label for="commment">Commentaire</label>
    <textarea id="commment" placeholder="Ex : Lorem Ipsum"></textarea>
  </div>

  <div>
    <label for="lastVisit">Dernère visite</label>
    <input id="lastVisit" name="lastVisit" type="text" placeholder="Ex : 1234567890123"/>
  </div>

  <div>
    <label for="owner-name">Nom du propriétaire</label>
    <input id="owner-name" name="owner-name" type="text" placeholder="Ex : Mr Smith"/>
  </div>

  <div>
    <label for="owner-phone">Téléphone du propriétaire</label>
    <input id="owner-phone" name="owner-phone" type="text" placeholder="Ex : 0675676545"/>
  </div>

  <div>
    <label for="owner-email">Email du propriétaire</label>
    <input id="owner-email" name="owner-email" type="text" placeholder="Ex : smith@gmail.Com"/>
  </div>

  <hr/>

  <button type="submit">Sauvegarder</button>
</form>